@model IEnumerable<SchoolMangement.Models.course>

@{
    ViewBag.Title = "Index";
}
    <div class="container">
        <h2 class="text-capitalize text-balck text-center" style="margin-top:30px">Register New Course</h2>

        <p style="font-size:20px;margin-left:20px;margin-bottom:20px;font-weight:bolder">
            @Html.ActionLink("Create New", "Create",new { }, new { @class = "btn btn-primary" })
        </p>
        <table class="table">
            <tr class="table table-primary">
                <th>
                    Course
                </th>
                <th>
                    Duration
                </th>
                <th> Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.course1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>